@import '_variables';

.Nav--menu,
.Nav--menu__list {
  display: flex;
  align-items: center;
}

.Nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: ($size * .5);
  height: $height;
  position: absolute;
  top: 0;
  left: -40%;
  background-image: linear-gradient(
    45deg,
    $dark-blue,
    $dark-color
  );
  z-index: 1;
  transition: left 450ms ease-out;

  &.active--nav {
    left: 0;
    transition: left 450ms ease-in
  }

  .toggle--nav {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 1rem;
    right: $radius;
    font-size: 1.25rem;
    transform: translate(.15rem, .5rem);
    z-index: 2
  }

  &--menu {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: calc($height * .5);
    max-width: 22rem;
    padding: 0;
    &__list {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 6rem;
      height: 2.5rem;
      list-style: none;
      padding: 0;
      &:last-child {
        background-color: $dark-blue;
        border-radius: $radius;
        & > .Nav--menu__link { color: var(--light-color); }
      }
    }

    &__link {
      padding: .125rem 1rem;
      color: var(--dark-color);
      font-family: $font-play;
      font-size: $padding * .75;
      text-decoration: none;
      text-transform: capitalize
    }

    #light &__list:last-child {
      background-color: var(--light-color);
      & > .Nav--menu__link { color: var(--dark-color); }
    }

    #dark &__list:last-child {
      background-color: var(--light-color);
      & > .Nav--menu__link { color: $dark-blue; }
    }

    #dark &__link,
    #light &__link { color: var(--light-color); }

    @media (46.1875em <= width) {
      & {
        #light &__list:last-child {
          background-color: $dark-blue;
          & > .Nav--menu__link { color: var(--light-color); }
        }

        #light &__link { color: var(--dark-color); }
      }
    }
  }

  @media (46.1875em <= width) {
    & {
      width: auto;
      height: auto;
      position: relative;
      top: 0;
      left: 0;
      background-image: none;

      .toggle--nav { display: none; }

      &--menu {
        flex-direction: row;
        height: $size;
        max-width: fit-content;
      }
    }
  }
}

#light .Nav { 
  background-image: linear-gradient(
    -45deg,
    $dark-red-color,
    $dark-orange-color
  ); 
  box-shadow: 0 .2vmin calc($radius * .35) rgba($dark-color, .75);

  & .toggle--nav {
    color: var(--light-color)
  }

  @media (46.1875em <= width) {
    & {
      background-image: none;
      box-shadow: none;
    }
  }
}